.welcome {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.welcome:after {
  content: '';
  height: 3px;
  background-color: #fff;
  display: block;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.title {
  margin: 0;
  font-size: 60px;
  color: #4fc08d;
  text-shadow: 0 0 1px #ccc;
  display: flex;
  align-items: center;
}

.title img {
  margin: 20px;
}

.main {
  margin-left: 100px;
  font-size: 20px;
}
