.name-input {
  font-size: 16px;
  width: 250px;
  margin: 0 20px;
}

.item-name {
  width: 380px;
  display: inline-block;
}

.item-btn {
  margin-right: 25px;
}

.item-name-input {
  font-size: 16px;
  width: 354px;
  margin-right: 20px;
}
